//Página Contacto

.contact{
    font-family: $tipografiaOtros;
    font-weight: bold;
    .section-title{
        font-size: 1.5rem;
        color: $colorGeneral6;
        text-align: center;
    }
    .info{
        border-top: 3px solid $colorGeneral1;
        border-bottom: 3px solid $colorGeneral1;
        padding: 30px;
        background: $colorGeneral5;
        width: 100%;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 20px; 
        i{
            font-size: 1.4rem;
            color: $colorGeneral1;
            float: left;
            width: 44px;
            height: 44px;
            background: $colorGeneral2;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out; 
        }
        h2{
            padding: 0 0 0 60px;
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 5px;
            color: $colorContact1; 
        }
        p{
            padding: 0 0 10px 60px;
            margin-bottom: 20px;
            font-size: 0.9rem;
            color: $colorContact2; 
        }
        .email{
            p{
                padding-top: 5px;
            } 
        }
        a{
            color: $colorContact2;
        }        
    }
    .address:hover i, .hour:hover i, .phone:hover i, .email:hover i, .whatsapp:hover i, .instagram:hover i{
        background: $colorGeneral1;
        color: $colorGeneral2;
    }
    .email-form {
        width: 100%;
        border-top: 3px solid $colorGeneral1;
        border-bottom: 3px solid $colorGeneral1;
        padding: 30px;
        background: $colorGeneral5;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 20px; 
        .form-group {
            padding-bottom: 8px; 
        }
        input, .textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px; 
        }
        input {
            height:44px;
            width: 100%; 
        }
        .textarea {
            padding: 10px 12px; 
        }
        button{
            background: $colorGeneral1;
            border: 0;
            padding: 10px 24px;
            color: $colorGeneral2;
            transition: 0.4s;
            border-radius: 4px;
            &:hover {
                background: $colorNav3; 
            }
        }  
        .img-form{
            margin-top: 20px!important;
        }     
    }
} 