//Generales

body{
    line-height: 18px;
    background-attachment: fixed;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
}
.containerBackground {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/basicaMantecado.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#carouselExampleIndicators{
    margin-top: 75px;
}
.titulosSecciones{
    font-size: 4rem;
    font-family: $tipografiaTitulos;
    text-align: center; 
    color: $colorGeneral1;
}
.subtituloCentrado {
    font-size: 1.8rem;
    color: $colorGeneral6;
    font-family: $tipografiaSubtitulos;
    text-align: center;
}
.margin{
    margin-top: 110px;
}
@media (min-width:320px) and (max-width: 768px){
    #carouselExampleIndicators{
        margin-top: 70px;
    }
    .tituloBanner{
        font-size: 2.5rem!important;
    }
    .pieDePagina{
        text-align: center;
        i{
            padding: 5px!important;
        }
    }
}
#section2{
    .info2{
        padding: 0% !important;
        margin: 0% !important;      
    } 
}
.testimonio-index {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    background-color: $colorGeneral2;
    color: $colorGeneral6;
    img {
        border: white solid 1px;
        display: inline;
        margin: 1vw;
        margin-top: 0vw; 
    }
    .testimonio-quote-index {
        border-right: white 1px solid;
        height: fit-content;
        margin: 1vw; 
    }
    .firma-quote {
        font-size: 1.1rem;
        font-style: normal;
        margin: 1vw; 
    }
}

    
    