//Colores Proyecto

$colorGeneral1: #C96582;
$colorGeneral2: #FEE0E9;
$colorGeneral3: #f8d7c8; 
$colorGeneral4: #333; 
$colorGeneral5: #fff;
$colorGeneral6: #dd2a5d;
$colorNav1: #956A71;
$colorNav2: #e77f9c;
$colorNav3: #da7793;
$colorFooter1: rgb(63, 221, 42);
$colorFooter2:rgb(221, 42, 123);
$colorFooter3: rgb(255, 0, 0);
$colorFooter4: rgb(66, 216, 161);
$colorCard: rgb(42, 39, 230);
$colorBanner: rgba(255, 198, 231, 0.6);
$colorContact1: #7a6960;
$colorContact2: #ab9d95;
$tipografiaTitulos: 'Lobster', cursive;
$tipografiaSubtitulos: 'Abril Fatface', cursive;
$tipografiaOtros: 'Handlee', cursive;